<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Score Form</title>
  </head>
  <body>
    <h1>Enter Your Scores</h1>
    <form action="/result" method="POST">
      Name: <input type="text" name="name" /><br /><br />
      Math: <input type="text" name="math" /><br /><br />
      English: <input type="text" name="english" /><br /><br />
      Science: <input type="text" name="science" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
